@model IEnumerable<Tarefas.Web.Models.TarefaViewModel>

<tabel>
    <thead>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
    <thead>
        @foreach (var item in Model){
            <tr>
            
                <td>

                </td>

                <td>

                </td>                   

            </tr>
        }
</tabel>